@model IEnumerable<(string Id, doan.Models.Room Dish)>

<h1>Sảnh</h1>
    <!-- Form tìm kiếm -->
<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm sảnh..." name="searchTerm">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>
<button type="button" class="btn-custom" onclick="location.href='@Url.Action("Create")'">Thêm sảnh</button>
<table class="table">
    <thead>
        <tr>
            <th style="width: 100px;">Ảnh</th>
            <th style="width: 100px;">Tên sảnh</th>
            <th style="width: 100px;">Số lượng</th>
            <th style="width: 100px;">Giá</th>
            <th style="width: 550px;">Mô tả</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Dish.anh" width="100" height="100" />
                </td>
                <td>@item.Dish.ten</td>
                <td>@item.Dish.sl</td>
                <td>@item.Dish.gia</td>
                <td>@item.Dish.mota</td>
                <td style="align-content: center; padding-left: 50px">
                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;">
                        <i class="fas fa-edit custom-icon-color"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;">
                        <i class="fa-solid fa-trash custom-icon-color"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
